@import url("https://fontawesome.com/icons/star?f=classic&s=regular");
.star-rating
{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    padding: 0px 15px;
   
}

.radio-input {
    display: none;
}

.radio{
    margin: 0px 2px;
    cursor: pointer;
    content: "\f005";
    display: inline-block;
    font-size: 30px;
    transition: ease-in-out;
}

.radio-input:checked ~ .radio {
    color: #ffc700;
    color: gold;
}

.text-input{
    width: 100%;
    border-radius: 5px;
}
#btn{
    width:100%;
}