@import url("https://fontawesome.com/icons/star?f=classic&s=regular");
.star-rating
{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    padding: 0px 15px;
   
}
.optional-question > label > span{
    font-weight:900;
}

.radio-input {
    display: none;
}
.radio{
    font-size: 0;
}
.radio:before{
    content: "★";
    margin: 0px 02px;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    transition: ease-in-out;
}

.radio-input:checked ~ .radio {

    color: rgb(167, 236, 119);
}

.text-input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: grey;

}
#btn{
    width:100%;
    padding: 10px 20px;
    border-radius: 15px;
    border:none;
}
#btn:hover{
    cursor: pointer;
    background-color: green;
}

#question-textarea{
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border: solid .5mm green;
    padding: 5px 5px;
    margin: 10px 0px;
}
#form-container{
    padding: 0px 300px;
}
#theme-button{
    margin-top: 10px;
    padding:10px 0px;
    width: 100%;
}

.dark-mode{
    padding: 0px 300px;
    background-color: rgb(8, 34, 8);
    color: rgba(173, 209, 178, 0.536);
}


@media screen and (max-width: 1000px) {
    #form-container{
        padding: 0px 0px;
    }
  }
