:root {
    --gecko-primary-color: #a3e38b;
    --gecko-secondary-color: #5abc34;
    --gecko-accent-color: #107010;
}

body {
    background: var(--gecko-primary-color);
}

nav, .dropdown-menu, .card, .list-group-item {
    background: var(--gecko-secondary-color);
    box-shadow: 0 0 4px 0 var(--gecko-accent-color);
}

.navbar-nav .nav-link,
.nav-item .dropdown-item {
    color: var(--gecko-accent-color);
    font-weight: bold;
}

.navbar-nav .nav-link:hover,
.nav-item .dropdown-item:hover {
    color: var(--gecko-primary-color) !important;
}

.nav-item .dropdown-item:hover {
    background: var(--gecko-accent-color) !important;
}

.nav-item .dropdown-item:focus {
    background: none;
}

.nav-item .dropdown-item.active {
    background: none;
    color: black;
}

a {
    text-decoration: none;
}

.card {
    --bs-card-border-color: var(--gecko-accent-color);
}

.list-group {
    --bs-list-group-border-color: var(--gecko-accent-color);
}

.dropdown-center > .dropdown-menu.show {
    transform: translateX(2.5vw);
    margin-left: calc(-75px - 12px) !important; 
}