:root {
    --nursing-primary-color: #60a144;
    --nursing-primary-color-variant: #0d4722;
    
    --nursing-secondary-color: #eae9e9;
    --nursing-secondary-color-variant: #333333;

    --nursing-accent-color: #69b345;

    --accordion-dropdown-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a7cf8c'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

    /** Bootstrap color overloads **/
    --bs-body-bg: var(--nursing-secondary-color);
    --bs-body-color: var(--nursing-secondary-color-variant);
    --bs-border-color: var(--nursing-primary-color-variant);
    --bs-border-color-translucent: var(--nursing-primary-color-variant);
    
    --bs-danger: #F02D3A;
    --bs-orange: #F28123;
    --bs-green: #1C9B4B;
    --bs-blue: #009FB7;

    /* Other */
    --transition-time: .4s;
}

[data-bs-theme=dark] {
    --nursing-primary-color: #0d4722;
    --nursing-primary-color-variant: #60a144;
    
    --nursing-secondary-color: #333333;
    --nursing-secondary-color-variant: #fdfdfd;
}

/******************
**** BOOTSTRAP ****
*******************
**** OVERLOADS ****
******************/

.text-danger {
    color: var(--bs-danger);
}

.btn.btn-danger {
    background: var(--bs-danger);
    color: var(--nursing-secondary-color-variant);
}

.btn.btn-danger:hover {
    background: #D20F1C;
    color: var(--nursing-secondary-color)
}

.btn.btn-success {
    background: var(--nursing-accent-color);
    color: var(--nursing-secondary-color-variant);
}

.btn.btn-success:hover {
    background: #579339;
    color: var(--nursing-secondary-color)
}

.alert {
    width: fit-content;
    margin: auto;
}

.alert-light {
    --bs-alert-bg: var(--bs-body-bg);
    --bs-alert-color: var(--secondary-color-variant);
}

.alert.alert-light > hr {
    color: var(--secondary-color-variant);
}

.table tbody > tr:hover > td
, button.accordion-button.collapsed:hover
, button.accordion-button:not(.collapsed):hover {
    background: var(--nursing-accent-color);
}

/******************
***** GENERAL *****
******************/

body {
    background: var(--nursing-primary-color);
}

nav.navbar {
    background: var(--nursing-secondary-color);
}

.navbar-nav > a.nav-link {
    color: var(--nursing-secondary-color-variant);
    font-weight: bold;
}

.navbar-nav a#theme-switcher.nav-link > svg {
    fill: var(--nursing-secondary-color-variant);
    transition: fill var(--transition-time);
    width: 30px;
}

.navbar-nav > .nav-link:hover {
    color: var(--nursing-accent-color);
}

.navbar-nav a#theme-switcher.nav-link:hover > svg {
    fill: var(--nursing-accent-color);
    cursor: pointer;
}

a.active {
    color: var(--nursing-accent-color) !important;
}

.card
, button.accordion-button.collapsed
, button.accordion-button:not(.collapsed) 
, .btn
, li.list-group-item {
    transition: background-color var(--transition-time), color var(--transition-time);
}

/******************
** REQUIREMENTS ***
******************/

button.accordion-button.collapsed
, button.accordion-button:not(.collapsed) {
    background: var(--nursing-secondary-color);
    color: var(--nursing-secondary-color-variant);
    font-size: x-large;
}

button.accordion-button::after
, button.accordion-button:not(.collapsed)::after {
    background-image: var(--accordion-dropdown-icon);
}

.requirement-data ul.list-group.list-group-flush > li.list-group-item.h5 {
    background: var(--nursing-primary-color-variant);
    color: var(--nursing-primary-color);
    font-weight: bold;
}

.requirement-data ul.list-group.list-group-flush > li.list-group-item {
    background: var(--nursing-primary-color);
    color: var(--nursing-primary-color-variant);
}

.card.notes li.list-group-item
, .requirement-note li
, .requirement-data .or-row {
    background: var(--nursing-secondary-color) !important;
    color: var(--nursing-accent-color) !important;
}

.requirement-note li {
    font-weight: bold;
}

li.list-group-item {
    --bs-list-group-color: var(--nursing-secondary-color-variant) !important;
}

ul.requirement-note > li.list-group-item {
    background: var(--nursing-secondary-color);
}

/******************
***** CONTACT *****
******************/

.form-floating > textarea.form-control {
    height: 125px;
}

/******************
*** EXPERIENCE ****
******************/

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 15px;
}

/* Remove radio default styling and hide label */
input.radio-input {
    opacity: 0;
}

label.radio-label {
    font-size: 0;
}

/* Style radios as stars */
label.radio-label:before {
    font-size: 1.8rem;
    content: "★";
    cursor: pointer;
    transition: color var(--transition-time) ease-in-out;
}

input.radio-input:hover ~ label.radio-label
, input.radio-input:checked ~ label.radio-label {
    color: var(--nursing-accent-color);
}

/******************
***** RECEIPT *****
******************/

.bg-blue {
    background: var(--bs-blue);
    color: var(--nursing-secondary-color);
}

.bg-green {
    background: var(--bs-green);
    color: var(--nursing-secondary-color);
}

.bg-red {
    background: var(--bs-danger);
}

.bg-orange {
    background: var(--bs-orange);
}