:root {
    --nursingFirstPrimaryColor: #60a144;
    --nursingFirstPrimaryColorVariant: #a7cf8c;
    --nursingSecondPrimaryColor: #fdfdfd;
    --nursingSecondPrimaryColorVariant: #e0edd8;

    --nursingFirstSecondaryColor: #0d4722;
    --nursingSecondSecondaryColor: #333333;

    --nursingAccentColor: #69b345;
}

[data-bs-theme=dark] {
    --nursingFirstPrimaryColor: #22321b;
}

body {
    background: var(--nursingFirstPrimaryColor);
}

nav.navbar {
    background: var(--nursingFirstSecondaryColor);
    box-shadow: 0 0 4px 0 var(--nursingAccentColor);
}

div.navbar-nav > a.nav-link {
    color: var(--nursingAccentColor);
    font-weight: bold;
}

div.navbar-nav > .nav-link:hover {
    color: var(--nursingFirstPrimaryColor) !important;
}

button.accordion-button.collapsed,
button.accordion-button:not(.collapsed) {
    color: var(--nursingFirstPrimaryColorVariant);
    font-size: x-large;
}

button.accordion-button.collapsed {
    background: var(--nursingFirstSecondaryColor);
}

button.accordion-button:not(.collapsed) {
    background: var(--nursingSecondSecondaryColor);
}

button.accordion-button::after,
button.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a7cf8c'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

ul.list-group {
    --bs-list-group-border-color: var(--nursingFirstSecondaryColor);
}

table.requirement-data tr > td.p-0,
table.requirement-data ul.list-group.list-group-flush > li.list-group-item {
    background: var(--nursingFirstPrimaryColorVariant);
}

table.requirement-data ul.list-group.list-group-flush > li.list-group-item:nth-of-type(even) {
    background: var(--nursingSecondPrimaryColorVariant);
}

ul.requirement-notes > li.list-group-item,
table.requirement-data th,
table.requirement-data th.table-or-column,
table.requirement-data td.table-or-column {
    background: var(--nursingFirstPrimaryColor);
}

.form-floating > textarea.form-control {
    height: 100px;
}











/* TIEN CSS */


.star-rating
{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    padding: 0px 15px;
   
}
.optional-question > label > span{
    font-weight:900;
}

.radio-input {
    display: none;
}
.radio{
    font-size: 0;
}
.radio:before{
    content: "★";
    margin: 0px 02px;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    transition: ease-in-out;

}

.radio-input:checked ~ .radio {

    color: rgb(167, 236, 119);
}

.text-input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.text-dark-mode{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #333333;
    color: rgba(173, 209, 178, 0.536);
}


.no-input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: red solid .5mm;

}
#btn{
    width:100%;
    padding: 10px 20px;
    border-radius: 15px;
    border:none;
}
#btn:hover{
    cursor: pointer;
    background-color: green;
}

#question-textarea{
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border: solid .5mm green;
    padding: 5px 5px;
    margin: 10px 0px;
}
.textarea-dark-mode
{
    background-color: #333333;
    color: rgba(173, 209, 178, 0.536);
}

.no-input-textarea{
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border: solid .5mm red;
    padding: 5px 5px;
    margin: 10px 0px;
}

.info-box{ 
    border-radius: 10px;
    padding: 30px;
    margin: 10px 0px;
    background-color:white;
}

.info-dark-mode{ 
    background-color:#333333;
    color: rgba(173, 209, 178, 0.536);
}


#form-container{
    padding: 0px 300px;
}
/* #theme-button{
    margin-top: 10px;
    padding:10px 0px;
    width: 100%;
} */

.dark-mode{
    background-color:  #22321b;
    color: rgba(173, 209, 178, 0.536);
}


@media screen and (max-width: 1500px) {
    #form-container{
        padding: 0px 0px;
    }
  }

/* TIEN CSS
 */