:root {
    --nursing-primary-color: #60a144;
    --nursing-primary-color-variant: #0d4722;
    
    --nursing-secondary-color: #eae9e9;
    --nursing-secondary-color-variant: #333333;

    --nursing-accent-color: #69b345;

    /*Bootstrap overloads*/
    --bs-body-bg: var(--nursing-secondary-color);
    --bs-body-color: var(--nursing-secondary-color-variant);
    --bs-border-color: var(--nursing-primary-color-variant);
    --bs-border-color-translucent: var(--nursing-primary-color-variant);
}

[data-bs-theme=dark] {
    --nursing-primary-color: #0d4722;
    --nursing-primary-color-variant: #60a144;
    
    --nursing-secondary-color: #333333;
    --nursing-secondary-color-variant: #fdfdfd;
}

body {
    background: var(--nursing-primary-color);
}

nav.navbar {
    background: var(--nursing-secondary-color);
}

.navbar-nav > a.nav-link {
    color: var(--nursing-secondary-color-variant);
    font-weight: bold;
}

.navbar-nav a#theme-switcher.nav-link > svg {
    fill: var(--nursing-secondary-color-variant);
    transition: fill 0.2s;
    width: 30px;
}

.navbar-nav > .nav-link:hover {
    color: var(--nursing-accent-color);
}

.navbar-nav a#theme-switcher.nav-link:hover > svg {
    fill: var(--nursing-accent-color);
    cursor: pointer;
}

a.active {
    color: var(--nursing-accent-color) !important;
}

button.accordion-button.collapsed,
button.accordion-button:not(.collapsed) {
    background: var(--nursing-secondary-color);
    color: var(--nursing-secondary-color-variant);
    font-size: x-large;
}

button.accordion-button::after,
button.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a7cf8c'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

table.requirement-data tr > td.p-0,
table.requirement-data ul.list-group.list-group-flush > li.list-group-item {
    background: var(--nursing-primary-color-variant);
    color: var(--nursing-primary-color);
}

table.requirement-data ul.list-group.list-group-flush > li.list-group-item:nth-of-type(even) {
    background: var(--nursing-primary-color);
    color: var(--nursing-primary-color-variant);
}

.card.notes li.list-group-item,
table.requirement-data th,
table.requirement-data th.table-or-column,
table.requirement-data td.table-or-column {
    background: var(--nursing-secondary-color);
    color: var(--nursing-accent-color) !important;
}

li.list-group-item {
    --bs-list-group-color: var(--nursing-secondary-color-variant) !important;
}

ul.requirement-notes > li.list-group-item {
    background: var(--nursing-secondary-color);
}

.form-floating > textarea.form-control {
    height: 100px;
}

form button.btn {
    background: var(--nursing-secondary-color);
    transition: background .3s;
}

form button.btn:hover {
    background: var(--nursing-accent-color);
}

/* TIEN CSS */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 15px;
}

/* Remove radio default styling */
input.radio-input {
    display: none;
}

label.radio {
    font-size: 0;
}

label.radio:before {
    font-size: 1.8rem;
    content: "★";
    cursor: pointer;
    transition: ease-in-out;
}

input.radio-input:checked ~ label.radio {
    color: var(--nursing-primary-color-variant);
}

input.radio-input:hover ~ label.radio {
    color: orange;
  }
/* TIEN CSS */